* {
    margin:0;
    padding:0;
}
body {
    font-family: Arial;
}
.wrapper {
    margin: 0px auto;
    width: 100%;
}
.main {
    width: 100%;
    float: left;
    height: 100vh;
    background-image: url("../images/pic.png");
    background-size: 100%;
    overflow: hidden;
}
h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin: 0%;
}

 content {
    width: 100%;
    float: left  ;
}
article {
    width: 13.5%;
    margin-left:10%;
    background-color: rgba(114,188,212,.5);
    color:#000;
    display:block;
    float:left;
    text-align: center;
    padding:50px 50px 0px 50px;
    margin-top: 50px;
    height: 400px;
    font-size: 18px;
    border-radius: 40px 40px 40px 40px;
    transition: all .5s;
} 
article p, article h1 {
    margin-top: 20px;
}
article:hover {
    background-color: rgba(9, 100, 219,.5);
    color:rgb(236, 56, 2);
    margin-top: 200px;
    background-image: url("../images/pic2.jpg");
    background-size: 100%;
    /* overflow: hidden; */
}
input[type=text] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
form {
    /* margin-top: 50px; */
    
}
form:hover {
    color: rgb(212, 78, 16);
    
}
i {
    margin: 10px;
    font-size: 50px;

}
.animation{
    width: 30%;
    height: 7%;
    /* background-color:rgba(114,188,212,.2); */
    animation-name: test;
    animation-duration:25s;
    animation-iteration-count:infinite;
    position: relative;
    margin-top: 50px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
@keyframes test {
    /* from {background-color: greenyellow;}
    to {background-color: green;} */
    0%   {background-image:rgba(14, 132, 201, 0.2); left:0px; top:0px;}
    50%  {background-color:rgba(10, 236, 29, 0.4); left:1000px; top:0px;}
    100%  {background-color:rgba(205, 226, 12, 0.4); left:0px; top:0px;}
}
p {
    text-align: left;
    font-family: cursive;
    color: rgb(2, 26, 12);
    font-weight: 900;
}